<link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true"/>
@{
    ViewData["Title"] = "Home Page";
}

<div class="flex">
  <div class="row">
      <div class="col-5">
        <div id="headshot-div">
            <img class="headshot" src="images/heroShot.JPG" alt="Headshot"/>
        </div>
      </div>
      <div class="col-7" >
        <div id="banner-text">
            <h4>Computer Science Professional   |   Software Engineer   |   Robotics Tinkerer</h4>
            <h5>Recent graduate from Montana State University</h5>
        </div>
      </div>
  </div>
</div>


 <div class="flex">
   <div class="row">
    <h3>Announcements</h3>
    <p>
        <b>Job Search:</b> Currently interested in job oppurtunities regarding back-end and full-stack development. I am 
        particulary interested in finding a local company with interests in robotics and business solutions.
    </p>
    </div> 
 </div>


<div class="flex">
  <div class="row">
      <div class="col-6">
          <h5>Contact Info</h5>
              <ul>
                  <li>Test</li>
              </ul>
      </div>
        <div class="col-6">
            <h5>Important Documents</h5>
                <ul>
                    <li>Test</li>
                </ul>
      </div>
  </div>
</div>