@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h3>In Short</h3>
<p>
    I DO NOT STORE ANY DATA OR MESSAGES YOU SEND TO YOUR CONTACTS. PERIOD.<br/>

    I physically can't. I have nowhere to store it. I don't even have a server database to
    store it. So even if Mark Zuckerburg asked nicely to see your data, I wouldn't have anything to
    show him.<br/>

    What happens on your computer stays on your computer.
</p>

<h3>Third Party Notice</h3>
<p>
    Your personal information may be available to me from external publicly available sources.<br/>
    
    For example, depending on your privacy settings for social media services, we may access information from those 
    accounts or services (for example when you choose to interact with me through platforms such as
    LinkedIn or Github).
</p>


    