@{
    ViewData["Title"] = "Project Highlights";
}

<div class="text-center">
    <h1 class="display-4">Projects</h1>
    <p>Later will host a couple project in grid format that can be clicked into to display more information</p>
</div>
